In [5]:
import kinase_library as kl
testsequence='PSVEPPLsQETFSDL'

# Create a Substrate object with a target sequence (example: p53 S33)
s = kl.Substrate(testsequence)  # Lowercase 's' indicates a phosphoserine

# Predict potential kinase interactions for the substrate
s.predict()

          Score  Score Rank  Percentile  Percentile Rank
ATM      5.0385           1       99.83                1
SMG1     4.2377           2       99.77                2
ATR      3.5045           4       99.69                3
DNAPK    3.8172           3       99.21                4
FAM20C   3.1716           5       95.23                5
...         ...         ...         ...              ...
BRAF    -4.4003         242        7.86              306
AKT2    -5.6530         284        6.79              307
P70S6KB -3.9915         223        6.64              308
NEK3    -8.2455         310        4.85              309
P70S6K  -7.2917         306        4.19              310

[310 rows x 4 columns]

In [ ]:
"""Task 1 - to write code mutating first amino acid to every other possible amino acid"""
#how to replace one letter for another in test sequence
#how to replace one letter for each amino acid

NameError: name 'PSVEPPLsQETFSDL' is not defined